packaging==23.2
torch==2.1.0
torchaudio==2.1.0
numpy==1.26.4
sympy
matplotlib
scipy
librosa
sounddevice
mplcursors
pystoi
deepfilternet==0.5.6
pydub
static-ffmpeg
imageio-ffmpeg
TTS
openai-whisper
vector-quantize-pytorch
matcha-tts
inflect
joblib
gputil
psutil
